<div class="colophon">
    <div class="colophon-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 text-xs-center text-sm-left">
                    Copyright &copy; <%= copyright_year %> Mental Health Matters
                </div>
                <div class="col-xs-12 col-sm-6 text-xs-center text-sm-right">
                    Designed by <%= link_to "Zachary Espiritu", "http://zacharyespiritu.com" %>
                </div>
            </div>
        </div>
    </div>
</div>
