<article class="post-list-row">
    <div class="post-list-image" style="background-image: url('<%= raw post.get_meta("thumb") %>');"></div>
    <div class="post-list-text">
        <div class="post-category">
            <%= raw get_taxonomy(post.the_categories.decorate, 'category tag') %>
        </div>
        <div class="post-title">
            <%= post.the_title %> Test Test Test Test Test
        </div>
    </div>
</article>
