@import "bootstrap-sprockets";
@import "bootstrap";
@import "default";
@import "mixins";
@import "bootstrap-text-align";
@import "chameleon-default";
@import "constants";

body {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  background-color: $lighter-gray;
  color: $dark-gray;
  font-family: "Century", serif;
  font-size: 14px;
  font-weight: 400;
}

/* BANNER STYLES */

.banner-wrapper {
  @include card-shadow;
  max-width: 887px;
  margin: 0 auto;
}

.banner {
  position: relative;
  height: 297px;
  max-width: 887px;
  background-image: image-url('skyline.png');
  background-color: white;
  background-size: cover;
  background-position: center center;

  .blue-overlay {
    height: 219px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 0%, rgba(18, 31, 120, 0.46) 90%, rgba(18, 31, 120, 0.46) 100%);
    padding: 10px 22px;
  }

  header {
    font-family: Century;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: -0.97px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
  }

  footer {
    margin-top: -10px;
    margin-bottom: 10px;
    font-family: Century;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: -0.58px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
  }

  .button {
    @include card-shadow;
    display: block;
    height: 33px;
    width: 163px;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, serif;
    opacity: 0.94;
    background: #122076;
    color: #FFFFFF;
    letter-spacing: -0.39px;
    font-size: 20px;
    padding: 1.5px 12px;

    .arrow {
      float: right;
    }
  }
}

.small-banner {
  height: 190px;

  header {
    font-size: 45px;
    margin-bottom: 6px;
  }
}

/* NAVBAR STYLES */

.navbar {
  @include card-shadow;
  height: 151px;
  padding-top: 11px;
  margin-bottom: 0px;
  border-bottom: 2px solid $white;
  background-color: $dark-blue;

  .navbar-block {
    display: table;
    width: 850px;
    margin: 0 auto;
    font-size: 24px;
  }

  .navbar-link__left,
  .navbar-link__center,
  .navbar-link__right {
    display: table-cell;
    width: 20%;
  }

  .navbar-link__left { text-align: left; }
  .navbar-link__center { text-align: center; }
  .navbar-link__right { text-align: right; }

  a {
    color: $beige;
    font-size: 36px;
  }
}

/* HOME POST STYLES */

.post-previews {
  max-width: 887px;
  margin: 20px auto;

  .col-sm-4,
  .col-sm-6,
  .col-sm-8,
  .col-sm-12 {
    padding-left: 0;
    padding-right: 0;

    @media screen and (min-width: $bootstrap-sm-break) {
      margin: 0;
      padding: 0;
    }
  }
}

.post-card {
  @include card-shadow;
  background: $white;

  @media screen and (min-width: $bootstrap-sm-break) {
    margin-right: 10px;
  }

  .post-card__accent-sm,
  .post-card__accent-lg {
    background: $black;
  }

  .post-card__accent-sm { height: 5px; }
  .post-card__accent-lg { height: 9px; }

  .large-content {
    display: table;

    .post-image-large {
      width: 50%;
      height: 230px;
      display: table-cell;
    }

    .post-text-large {
      width: 50%;
      display: table-cell;
      padding-left: 10px;
    }
  }

  .content {
    padding: 10px;

    .post-image {
      @include card-shadow;
      height: 121px;
      width: 100%;
      background: white;
      margin-bottom: 10px;
    }

    .post-category,
    .post-preview {
      font-family: "Helvetica Neue", HelveticaNeue, Helvetica, serif;
      font-size: 16px;
    }

    .post-category {
      font-weight: bold;

      a {
        color: $light-gray;
      }

      a:hover,
      a:focus {
        color: $dark-blue;
        outline: 0;
        text-decoration: none;
      }
    }

    .post-preview {
      margin-top: 4px;
      color: $light-gray;
    }

    .post-title {
      font-size: 26px;
      color: $black;
      line-height: 1.23;
    }
  }
}

@media screen and (min-width: $bootstrap-sm-break) {
  .left-post-card { margin-right: 15px; }

  .right-post-card { margin-left: 5px; }

  .small-banner-wrapper { margin-right: 10px; }

  .latest-posts {
    margin-left: 10px;
    margin-right: 0;
  }
}

@media screen and (max-width: $bootstrap-sm-break) {
  .latest-posts { margin-top: 20px !important; }
}

.top-card-padder { padding-top: 20px !important; }

/* FOOTER STYLES */

#footer {
  background-color: $gray;
  padding-top: 18px;
  box-shadow: 0px -2px 4px 0px rgba(0,0,0,0.50);
  position: relative;
  padding-bottom: $colophon-height + 16px;

  p { color: white; }

  h4 {
    color: white;
    padding-bottom: 20px;
    text-transform: uppercase;
  }

  .navbar {
    background-color: inherit !important;
    border: none;
    box-shadow: none;
    height: inherit;

    .container { max-width: 975px; }

    .navbar-link__left,
    .navbar-link__center,
    .navbar-link__right {
      width: 14.285%;
    }

    a {
      color: $beige;
      font-size: 20px;
    }
  }

  .colophon {
    position: absolute;
    bottom: 0;
    height: $colophon-height;
    width: 100%;
    font-size: 15px;
    background: $darker-gray;
    box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.50);

    .colophon-content {
      @include vertical-align();
    }

    .container { max-width: 920px; }

    a {
      color: $light-gray;
      -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
      -o-transition: color 0.1s ease-in, background 0.1s ease-in;
      -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
      -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
      transition: color 0.1s ease-in, background 0.1s ease-in;
      word-wrap: break-word;
    }

    a:hover,
    a:focus {
      color: $beige;
      outline: 0;
      text-decoration: none;
    }
  }
}
